{% extends 'base.html.twig' %}

{% block title %}Modification de l'emprunt{% endblock %}

{% block body %}
{# {% if app.request.attributes.get('_route') == 'new_emprunt' %} #}
{# <h1 class="text-center ">Ajout d'un emprunt</h1> #}
{# {% elseif app.request.attributes.get('_route') == 'edit_emprunt' %} #}
<h1 class="text-center">Modification de l'emprunt</h1>
{# {% endif %} #}

<div class="container">
{{ form_start(empruntForm)}}
    {{ form_row(empruntForm.dateEmprunt)}}
    {{ form_row(empruntForm.dateRetour)}}
    {{ form_row(empruntForm.livres)}}
    {{ form_row(empruntForm.abonnes)}}
{{ form_end(empruntForm)}}
</div>
{% endblock body %}