{% extends 'base.html.twig' %}

{% block title %}Liste des Livres
{% endblock %}

{% block body %}

	<h1 class="text-center fw-bold">Liste des Livres</h1>

	<div class="container mt-5">
		<table class="table table-responsive">
			<thead>
				<tr class="text-center">
					<th>ID</th>
					<th>Titre</th>
					<th>Auteur</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for livre in livres %}
					<tr class="text-center ">
						<td>{{ livre.id }}</td>
						<td>{{ livre.title }}</td>
						<td>{{ livre.author }}</td>
						<td>
							<a href="{{ path('edit_livre', {'id': livre.id}) }}" class="btn  btn-info btn-sm">
								<i class="fas fa-edit"></i>
							</a>
							<a href="#" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ livre.id }}">
								<i class="fas fa-trash-alt"></i>
							</a>
						</td>
					</tr>
					<!-- Modale de confirmation de suppression -->

					<div class="modal fade" id="confirmDeleteModal{{ livre.id }}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="confirmDeleteModalLabel">Confirmation de suppression</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									Êtes-vous sûr de vouloir supprimer
									{{livre.title}}
									?
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
									<a type="button" class="btn btn-danger" id="deleteButton" href="{{ path('delete_livre', {'id': livre.id} ) }}">Supprimer</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}

